@font-face { font-family: 'BMEULJIRO'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: '양진체'; src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff'); font-weight: normal; font-style: normal; }
*{box-sizing: border-box;}
html,body{margin: 0px; padding: 0px; background-color: white; overflow-x:hidden;}
a{text-decoration: none;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: none;}
.header{
    height: 500px;
    background-color: #dbe2e9;
    position: relative;
    z-index: 0;
}
.headerbackground{
    position: absolute;
    width: 100%;
    height: 100%;
}
.navi{
    height: 100px;    
    position: relative;
}
.naviBox{
    position: relative;
}
.naviLogo{
    width: 180px;
    height: 100px;
}
.challengeLogo{
	font-family: 'BMEULJIRO';
    position: absolute;
    left: 46.5%;
    font-size: 70px;
    font-weight: bold;
}
.naviCategory{    
    position: absolute;
    top: 34px;
    right: 40px;
    text-align: center;
    font-size: 20px;
}
.giveBtn{
    color: white;
    background-color: black;
    border-radius: 2px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    padding: 0px 10px;
}
.signUp{
    margin-left: 40px;
    color: white;
    background: black;
    border-radius: 2px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    padding: 2px 10px;
}
.giveBtn,.login{
    margin-left: 40px;
    color: white;
    background: black;
    border-radius: 2px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    padding: 0px 10px;
}
/* 헤더 텍스트 */
.headerExplan{
    text-align: center;
}
.firstText{
    margin-top: 20px;
    font-size: 80px;
    line-height: 140px;
}
.secondText{
    font-size: 80px;
}
/* 메인 */
.container{
    height: 2500px;
}
/* 메인카테고리 */
.mainCategory{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 350px;
    padding: 35px 70px 25px;
    margin: -75px 300px;
    width: 1300px;
    height: 155px;
}
.categoryImg{
    width: 80px;
    height: 40px;
}
.categoryTitle{
	font-family: '양진체';
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    cursor: pointer;
}
/* 챌린지 컨테이너 */
.challengeContainer{
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 0px 25px;
    margin: 50px 300px;
    height: 400px;
}
.recruitment{    
    font-size: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 1302px;
    border-bottom: 1px solid #ccc;
}
.challengeMainBox{
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: 20px;
}
.challengeOne{
    width: 650px;
    height: 600px;
    padding: 20px;
    border: 1px solid black;
    cursor: pointer;
}
.challengeOneDiv{
    padding: 20px;
}
.challengeOne-explan{
    margin-top: 20px;
    padding: 10px;
    width: 586px;
    font-size:20px;
    font-weight:bold;
}
.challengeOneImg{
    width: 100%;
    height: 272px;
}
.challengeOne-explan2{
    padding: 10px;
    width: 586px;
}
/* 챌린지 서브박스  */
.challegnSubBox{
    width: 700px;
}
.challengeTwo-div{
    float: left;
}
.challengeTwo{
    border: 1px solid black;
    height: 200px;
    padding: 40px;
    cursor: pointer;
}
.challengeSubImg{
    width: 150px;
    height: 100px;
}
.challengeTwo-explan{
    padding: 10px 0px 0px 160px;
    width: 586px;
    font-size:20px;
    font-weight:bold;
}
.challengeTwo-explan2{
    padding: 10px 0px 0px 160px;
    width: 586px;
}
/* 챌린지 중간박스 */
.challegneMiddleContainer{
    width: 1300px;
    height: 1800px;
}
/* slideShow */
.slideShow{
    margin: auto;
    margin-top: 20px;
}
.slick-prev:before, .slick-next:before {
    color: black;
}
.slideDiv{
    margin: 20px;
    border: 1px solid black;
}
.slideImg{
    width: 100%;
    height: 200px;
}
/* 하단바 */
.footer{ 
    border-radius: 3px;
    width: 1904px;
    background-color: gainsboro;
}
.navi-item2{
                
    list-style-type: none;
    width:25%;
    line-height:30px;
    float:left;
    text-align: center;
    
    color:#1D1F21;
}
.navi-item3{
    
    list-style-type: none;
    width:25%;
    line-height:72px;
    float:left;
    text-align: center;
    
    color:#1D1F21;
}
.navi-item>a{
    text-decoration: none;
    color:#1D1F21;
    width:100%;
    height:100%;
    display: block;
}
.navi-item2>a{
    text-decoration: none;
    color:#1D1F21;
    width:100%;
    height:100%;
    display: block;
}
.navi-item3>a{
    text-decoration: none;
    color:#1D1F21;
    width:100%;
    height:100%;
    display: block;
    font-weight: bold;
}
.navi-title>a{
    text-decoration: none;
    color:#1D1F21;
    width:100%;
    height:100%;
    display: block;
}
.navi-item>a:hover{
    background-color: orange;
    
}
.lastbar2{
    margin-top: 100px;
}
/* 스크롤업 fixed */
.scrollUp{
    position: fixed;
    z-index: 1000;
}